*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #039F9B;
}
.wrapper {
    display: flex;
    justify-content: center;    
    align-items: center;
    max-width: 650px;
    width: 100%;
    height: 400px;
    background: #FAD3D8;
    position: relative;
    border-radius: 10px;
    box-shadow: 0 5px 10px rgba(0,0,0,0.1);
}
.wrapper i.button{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    height: 36px;
    width: 36px;
    background-color: #039F9B;
    color: #fff;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    display: flex;
    line-height: 15px;
    font-size: 13px;
    transition: all 0.3s linear;
    z-index: 100;
    cursor: pointer;
}
i.button:active {
    transform: scale(0.94) translateY(-50%);
}
i#prev {
    left: 25px;
}
i#next {
    right: 25px;
}
.imagge-container {
    height: 340px;
    max-width: 500px;
    width: 100%;
    overflow: hidden;
}
.imagge-container .carousel {
    display: flex;
    height: 100%;
    width: 100%;
    transition: all 0.4s ease;

}
.carousel img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    border: 10px solid #FAD3D8;
    border-radius: 18px;
}